language: node_js
node_js:
  - 8
  - 10
install: yarn --ignore-engines # ignore engines to test node 6, otherwise it fails on engine check
jobs:
  include:
    - stage: Build
      name: Travis Status
      script: npx travis-github-status
    - stage: Linting
      name: ESlint
      script: npm run lint
    - stage: Release
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
