{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env",
    ],
    "plugins": [
        "webpack-external-import/babel",
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }],
    ]
}
